h1 {
  color: red;
}
header h1 {
  text-align: center;
}
#featured-property img {
  display: block;
  margin: 0 auto;
}
.nav-bar {
  text-align: center;
}

.nav-link {
  padding: 0 10px;
  background-color: grey; /* You can change this color */
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: darkgrey;
}
#featured-property figcaption {
  text-align: center;
  font-size: 0.8rem;
}
#details div {
  float: left;
  width: 25%; /* Each div takes up a quarter of the width */
  text-align: center;
  background-color: #f0f0f0; /* Light grey background */
  padding: 10px;
  box-sizing: border-box; /* Includes padding within the width */
}

#details::after {
  content: "";
  display: block;
  clear: both;
}
